<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>FOOD-DETAIL</title>
<meta charset="UTF-8" /></meta>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.css"
	th:href="@{/css/bootstrap.css}" /></link>
<link rel="stylesheet" href="/css/flaticon.css"
	th:href="@{/css/flaticon.css}" /></link>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous"></link>
<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" /></link>
<link href="https://fonts.googleapis.com/css?family=Lora"
	rel="stylesheet" /></link>
</head>
<body>

	<section class="inner-page-banner bg-common"
		data-bg-image="/images/inner-page-banner1.jpg"
		style="background-image: url(&quot;/images/inner-page-banner1.jpg&quot;);">
		<div class="container">
			<div class="col-12 text">
				<h2>Food Detail</h2>
			</div>
		</div>
	</section>
	<section class="single-recipe-wrap-layout1 padding-top-74 padding-bottom-50">
		<div class="container">
			<div class="row gutters-60">
				<div class="col-lg-8">
					<div class="single-recipe-layout1">
						<div class="ctg-name">PASTA</div>
						<h2 class="item-title">Chanterelle and Porcini Mushroom
							Recipes</h2>
						<div class="row mb-4">
							<div class="col-xl-9 col-12">
								<ul class="entry-meta">
									<li class="single-meta"><a href="#"><i
											class="far fa-calendar-alt"></i>Nov 14, 2018</a></li>
									<li class="single-meta"><a href="#"><i
											class="fas fa-user"></i>by <span>Sa Ngyn </span></a></li>
									<li class="single-meta">
										<ul class="item-rating">
											<li class="star-fill"><i class="fas fa-star"></i></li>
											<li class="star-fill"><i class="fas fa-star"></i></li>
											<li class="star-fill"><i class="fas fa-star"></i></li>
											<li class="star-fill"><i class="fas fa-star"></i></li>
											<li class="star-empty"><i class="fas fa-star"></i></li>
											<li><span>9<span> / 10</span></span></li>
										</ul>
									</li>
									<li class="single-meta"><a href="#"><i
											class="fas fa-heart"></i><span>02</span> Likes</a></li>
								</ul>
							</div>
							<div class="col-xl-3 col-12">
								<ul class="action-item">
									<li><button>
											<i class="fas fa-print"></i>
										</button></li>
									<li><button>
											<i class="fas fa-expand-arrows-alt"></i>
										</button></li>
									<li class="action-share-hover"><button>
											<i class="fas fa-share-alt"></i>
										</button>
										<div class="action-share-wrap">
											<a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a>
											<a href="#" title="twitter"><i class="fab fa-twitter"></i></a>
											<a href="#" title="linkedin"><i
												class="fab fa-linkedin-in"></i></a> <a href="#"
												title="pinterest"><i class="fab fa-pinterest-p"></i></a> <a
												href="#" title="skype"><i class="fab fa-skype"></i></a> <a
												href="#" title="rss"><i class="fas fa-rss"></i></a>
										</div></li>
								</ul>
							</div>
						</div>
						<div class="item-figure">
							<img src="images/single-product1.jpg" alt="Product"></img>
						</div>
						<div class="item-feature">
							<ul>
								<li>
									<div class="feature-wrap">
										<div class="media">
											<div class="feature-icon">
												<i class="fas fa-shopping-cart"></i>
											</div>
											<div class="feature-title">CART</div>
										</div>
									</div>
								</li>
								<li>
									<div class="feature-wrap">
										<div class="media">
											<div class="feature-icon">
												<i class="fas fa-heart"></i>
											</div>
											<div class="feature-title">LOVE</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<p class="item-description">More off this less hello
							salamander lied porpoise much over tightly circa horse taped so
							innocuously side crudey mightily rigorous plot life. New homes in
							particular are subject.All recipes created with FoodiePress have
							suport for Micoformats and Google Recipe View. Schema.org is a
							collaboration byo improve the web by creatinegaera structured
							data markup.More off this less hello salamander lied porpoise
							much over tightly circa horse tapedey innocuously side crudey
							mightily rigorous plot life.</p>
						<p class="item-description">Salamander lied porpoise much over
							tightly circa horse taped so innocuously side crudey mightily
							rigorous plot life. New homes in particular are subject.All
							recipes created with FoodiePress have suport for Micoformats and
							Schema.org is a collaboration byo improve.s convallis mi et
							tellus vehicula convallis. Etiam odio eros, viverra id dui
							inrutrum cursus ex. Curabitur et consequatenim.</p>

						<div class="direction-wrap-layout1">
							<div class="section-heading heading-dark">
								<h2 class="item-heading">DIRECTIONS</h2>
							</div>
							<p class="section-paragraph">Salamander lied porpoise much
								over tightly circa horse taped so innocuously side crudey
								mightily rigorous plot life. New homes in particular are
								subject. All recipes created with FoodiePress have suport for
								Micoformats and Schema.org is a collaboration byo improve
								convallis.</p>
							<div class="direction-box-layout1">
								<div class="item-figure">
									<img src="images/direction1.jpg" alt="DIRECTIONS">
								</div>
								<div class="item-content">
									<div class="serial-number">01 Thông Tin Sản Phẩm</div>
									<p>Recipe View chemaorg is a collaboration improve the web
										by creat inegaera structured markupinn ocuously side crudey
										mightily rigorous plot life.</p>
								</div>
							</div>
							<div class="direction-box-layout1">
								<div class="item-figure">
									<img src="images/direction2.jpg" alt="DIRECTIONS">
								</div>
								<div class="item-content">
									<div class="serial-number">02 Cách Dùng</div>
									<p>Recipe View chemaorg is a collaboration improve the web
										by creat inegaera structured markupinn ocuously side crudey
										mightily rigorous plot life.</p>
								</div>
							</div>
							<div class="direction-box-layout1">
								<div class="item-figure">
									<img src="images/direction3.jpg" alt="DIRECTIONS">
								</div>
								<div class="item-content">
									<div class="serial-number">03 Thời Gian Và Phí Vận Chuyển</div>
									<p>Recipe View chemaorg is a collaboration improve the web
										by creat inegaera structured markupinn ocuously side crudey
										mightily rigorous plot life.</p>
								</div>
							</div>

						</div>

						<div class="recipe-reviews">
							<div class="section-heading heading-dark">
								<h2 class="item-heading">RECIPE REVIEWS</h2>
							</div>
							<div class="avarage-rating-wrap">
								<div class="avarage-rating">
									Avarage Rating: <span class="rating-icon-wrap"> <i
										class="fas fa-star"></i> <i class="fas fa-star"></i> <i
										class="fas fa-star"></i> <i class="fas fa-star"></i> <i
										class="fas fa-star"></i>
									</span> <span class="rating-number">(5)</span>
								</div>
								<div class="total-reviews">
									Total Reviews:<span class="review-number">(02)</span>
								</div>
							</div>
							<ul>
								<li class="reviews-single-item">
									<div class="media media-none--xs">
										<img src="images/comment1.jpg" alt="Comment"
											class="media-img-auto"></img>
										<div class="media-body">
											<h4 class="comment-title">Liza Zaman</h4>
											<span class="post-date">September 27, 2018</span>
											<p>Absolutely great recipe. I cooked it for my kids and
												they loved it, even asked for more, can you believe it?</p>
											<ul class="item-rating">
												<li class="single-item star-fill"><i
													class="fas fa-star"></i></li>
												<li class="single-item star-fill"><i
													class="fas fa-star"></i></li>
												<li class="single-item star-fill"><i
													class="fas fa-star"></i></li>
												<li class="single-item star-fill"><i
													class="fas fa-star"></i></li>
												<li class="single-item star-empty"><i
													class="fas fa-star"></i></li>
												<li class="single-item"><span>9<span> /
															10</span></span></li>
											</ul>
											<a href="#" class="item-btn">REPLY
											<i class="fas fa-long-arrow-alt-right"></i></a>
										</div>
									</div>
								</li>
								<li class="reviews-single-item">
									<div class="media media-none--xs">
										<img src="images/comment2.jpg" alt="Comment"
											class="media-img-auto"></img>
										<div class="media-body">
											<h4 class="comment-title">John Martin</h4>
											<span class="post-date">September 12, 2018</span>
											<p>Absolutely great recipe. I cooked it for my kids and
												they loved it, even asked for more, can you believe it?</p>
											<ul class="item-rating">
												<li class="single-item star-fill"><i
													class="fas fa-star"></i></li>
												<li class="single-item star-fill"><i
													class="fas fa-star"></i></li>
												<li class="single-item star-fill"><i
													class="fas fa-star"></i></li>
												<li class="single-item star-fill"><i
													class="fas fa-star"></i></li>
												<li class="single-item star-empty"><i
													class="fas fa-star"></i></li>
												<li class="single-item"><span>7<span> /
															10</span></span></li>
											</ul>
											<a href="#" class="item-btn">REPLY<i
												class="fas fa-long-arrow-alt-right"></i></a>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="leave-review">
							<div class="section-heading heading-dark">
								<h2 class="item-heading">LEAVE A REVIEW</h2>
							</div>
							<div class="rate-wrapper">
								<div class="rate-label">Rating</div>
								<div class="rate">
									<div class="rate-item">
										<i class="fa fa-star" aria-hidden="true"></i>
									</div>
									<div class="rate-item">
										<i class="fa fa-star" aria-hidden="true"></i>
									</div>
									<div class="rate-item">
										<i class="fa fa-star" aria-hidden="true"></i>
									</div>
									<div class="rate-item">
										<i class="fa fa-star" aria-hidden="true"></i>
									</div>
									<div class="rate-item">
										<i class="fa fa-star" aria-hidden="true"></i>
									</div>
								</div>
							</div>
							<form class="leave-form-box">
								<div class="row">
									<div class="col-12 form-group">
										<label>Comment :</label>
										<textarea placeholder="" class="textarea form-control"
											name="message" rows="7" cols="20"
											data-error="Message field is required" required=""></textarea>
										<div class="help-block with-errors"></div>
									</div>
									<div class="col-lg-4 form-group">
										<label>Name :</label> <input type="text" placeholder=""
											class="form-control" name="name"
											data-error="Name field is required" required=""></input>
										<div class="help-block with-errors"></div>
									</div>
									<div class="col-lg-4 form-group">
										<label>E-mail :</label> <input type="email" placeholder=""
											class="form-control" name="email"
											data-error="E-mail field is required" required=""></input>
										<div class="help-block with-errors"></div>
									</div>
									<div class="col-lg-4 form-group">
										<label>Website :</label> <input type="email" placeholder=""
											class="form-control" name="email"
											data-error="E-mail field is required" required=""></input>
										<div class="help-block with-errors"></div>
									</div>
									<div class="col-12 form-group mb-0">
										<button type="submit" class="item-btn">POST REVIEW</button>
									</div>
								</div>
								<div class="form-response"></div>
							</form>
						</div>
					</div>
				</div>
				
				<div class="col-lg-4 sidebar-widget-area sidebar-break-md">
					<div class="widget">
						<div class="section-heading heading-dark">
							<h3 class="item-heading">LATEST RECIPES</h3>
						</div>
						<div class="widget-latest">
							<ul class="block-list">
								<li class="single-item">
									<div class="item-img">
										<a href="#"><img src="images/latest1.jpg" alt="Post"></a>
										<div class="count-number">1</div>
									</div>
									<div class="item-content">
										<div class="item-ctg">DESERT</div>
										<h4 class="item-title">
											<a href="#">Salami Oven Roasted are Mozzarella Oelette</a>
										</h4>
										<div class="item-post-by">
											<a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
												John Martin</a>
										</div>
									</div>
								</li>
								<li class="single-item">
									<div class="item-img">
										<a href="#"><img src="images/latest2.jpg" alt="Post"></a>
										<div class="count-number">2</div>
									</div>
									<div class="item-content">
										<div class="item-ctg">DESERT</div>
										<h4 class="item-title">
											<a href="#">Salami Oven Roasted are Mozzarella Oelette</a>
										</h4>
										<div class="item-post-by">
											<a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
												John Martin</a>
										</div>
									</div>
								</li>
								<li class="single-item">
									<div class="item-img">
										<a href="#"><img src="images/latest3.jpg" alt="Post"></a>
										<div class="count-number">3</div>
									</div>
									<div class="item-content">
										<div class="item-ctg">DESERT</div>
										<h4 class="item-title">
											<a href="#">Salami Oven Roasted are Mozzarella Oelette</a>
										</h4>
										<div class="item-post-by">
											<a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
												John Martin</a>
										</div>
									</div>
								</li>
								<li class="single-item">
									<div class="item-img">
										<a href="#"><img src="images/latest4.jpg" alt="Post"></a>
										<div class="count-number">4</div>
									</div>
									<div class="item-content">
										<div class="item-ctg">DESERT</div>
										<h4 class="item-title">
											<a href="#">Salami Oven Roasted are Mozzarella Oelette</a>
										</h4>
										<div class="item-post-by">
											<a href="single-blog.html"><i class="fas fa-user"></i><span>by</span>
												John Martin</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>

					<div class="widget">
						<div class="section-heading heading-dark">
							<h3 class="item-heading">CATEGORIES</h3>
						</div>
						<div class="widget-categories">
							<ul>
								<li><a href="#">Bánh Tráng <span>25</span>
								</a></li>
								<li><a href="#">Ăn Vặt <span>15</span>
								</a></li>
								<li><a href="#">Gia Vị <span>22</span>
								</a></li>
								<li><a href="#">Dầu Dừa <span>18</span>
								</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>