<html xmlns:th="http://www.thymeleaf.org">
<body>
	<h1>Home is here</h1>
	<form action="#" th:action="@{/testurl}" method="POST">
		<div class="form-group">
			<button type="submit" class="btn btn-block btn-primary">
				<i class="fa fa-save"></i> Save
			</button>
		</div>
		<br>
		
	</form>
	<form action="#" th:action="@{/j_spring_security_logout}" method="POST">
		<div class="form-group">
			<button type="submit" class="btn btn-block btn-primary">
				<i class="fa fa-save"></i> Logout
			</button>
		</div>
		<br>
	</form>
	
</body>
</html>