<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lora"
	rel="stylesheet">
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/home-page.css" />
<link rel="stylesheet" href="/css/food-list.css" />
<script src="/js/food-list.js"></script>
<title>Hello, world!</title>
</head>

<body>
	<nav th:replace="layout :: header"></nav>

	<div class="inner-banner bg-common">
		<div class="container">
			<!-- Banner-->
			<div class="row ">
				<div class="col-12">
					<div class="breadcrumbs-area">
						<h1>Search your recipes</h1>
						<ul>
							<li><a href="#">Home</a></li>
							<li>All Recipes</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--  Search box -->
	<div class="container">
		<div class="search-bar">
			<div
				class="row justify-content-center align-items-center text-center">
				<div class="input-group mb-3" style="width: 55%">
					<input
						class="form-control font-italic text--up-fs-14 text--light pl-30 py-15"
						type="text" placeholder="Searching"
						aria-label="Saisissez ici votre question"
						aria-describedby="button-addon2"
						style="background-color: #f6f7f9; position: relative; height: 45px; width: 300px; border: none; border-top-right-radius: 50px; border-bottom-right-radius: 50px" />
					<div class="input-group-append">
						<div class="px-sm-7 d-none d-lg-block undefinedundefined"
							style="position: absolute; top: 0; right: -7px">
							<a href="#" title="Search" class="btn btn-pink"> <span
								class="arrow-text">Search</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--List product 1-->
	<div class="container">
		<div class="sh-recent-products">
			<ul class="product-list row">

				<th:block th:if="${#lists.isEmpty(products)}">
					<h5>No products</h5>
				</th:block>

				<th:block th:unless="${#lists.isEmpty(products)}">
					<div class="col-4" th:each="product, iterStat : ${products}">

						<li class="product-item"><a class="product-item--image"
							th:href="@{'/home/products/detail?id=' + ${product.id}}"> <img
								th:src="@{${'/images/food-list/' + product.imageSample}}"
								style="max-height: 185px; width: 100%" />
						</a>
							<div class="product-item--content">
								<div style="padding-top: 20px">
									<a th:href="@{'/home/products/detail?id=' + ${product.id}}">
										<h2 th:text="${product.name}"></h2>
										<div class="item-type"></div>
									</a> <span class="item-price" th:text="${#numbers.formatDecimal(product.price,0,'POINT',0,'COMMA')+' đ'}"></span>
									<span class="item-basket" th:onclick="'addToCart(\'' + ${product.id} + '\')'"> <i
										class="fas fa-shopping-cart"></i>
									</span>
								</div>
							</div></li>
					</div>

				</th:block>
			</ul>

		</div>
		<div class="list-pager" style="margin: 20px 425px">
               <nav aria-label="Page navigation example">
                    <ul class="pagination">
                         <li class="page-item">
                              <a class="page-link" href="#" aria-label="Previous">
                                   <span aria-hidden="true">&laquo;</span>
                                   <span class="sr-only">Previous</span>
                              </a>
                         </li>
                         <li class="page-item"><a class="page-link" href="#">1</a></li>
                         <li class="page-item"><a class="page-link" href="#">2</a></li>
                         <li class="page-item"><a class="page-link" href="#">3</a></li>
                         <li class="page-item"><a class="page-link" href="#">4</a></li>
                         <li class="page-item"><a class="page-link" href="#">5</a></li>
                         <li class="page-item"><a class="page-link" href="#">6</a></li>
                         <li class="page-item">
                              <a class="page-link" href="#" aria-label="Next">
                                   <span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
                              </a>
                         </li>
                    </ul>
               </nav>
          </div>
	</div>

	

	<!-- Optional JavaScript -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
		crossorigin="anonymous"></script>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->


	<!-- 	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous">
		
	</script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous">
		
	</script> -->

	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/vue/vue.js"></script>
	<script src="js/vue/component.js"></script>
	<script src="js/data.js"></script>
	<script src="js/wow.min.js"></script>

	<nav th:replace="layout :: footer"></nav>

</body>
</html>
