<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
	<link rel="stylesheet" href="/css/header.css" />
      <link rel="stylesheet" href="/css/shopping-cart.css"/>
      <link rel="stylesheet" href="/css/food-list.css"/>
     <script src="/js/shopping-cart.js"></script>
	<title>Shopping cart</title>
</head>

<body>
<div class="inner-banner bg-common">
     <div class="container">
          <!-- Banner-->
          <div class="row ">
               <div class="col-12">
                    <div class="breadcrumbs-area">
                         <h1>Search your recipes</h1>
                         <ul>
                              <li>
                                   <a href="#">Home</a>
                              </li>
                              <li>All Recipes</li>
                         </ul>
                    </div>
               </div>
          </div>
     </div>
</div>

<!--List item in cart and payment-->
<div class="container">
     <div class="row">
     
     	<th:block th:if="${#lists.isEmpty(orders)}">
     		<div>
     		<a href="/home/products"> Tiếp tục mua hàng</a>
     		</div>
     	</th:block>
     
     	<th:block th:unless="${#lists.isEmpty(orders)}">
	          <div class="cart-form">
	               <table>
	                    <thead>
	                         <tr>
	                              <th class="product-thumbnail">&nbsp;</th>
	                              <th class="product-name">Product</th>
	                              <th class="product-price">Price</th>
	                              <th class="product-quantity">Quantity</th>
	                              <th class="product-subtotal">Total</th>
	                              <th class="product-remove">&nbsp;</th>
	                         </tr>
	                    </thead>
	                    <tbody>
	                         <tr class="cart-form__item" th:each="order, iter : ${orders}">
	                              
	                              <td class="product-image">
	                                   <a th:href="@{'/home/products/detail?id=' + ${order.id}}">
	                                        <img th:src="@{'/images/food-list/' + ${order.imageSample}}" alt="">
	                                   </a>
	                              </td>
	                              <td class="product-name">
	                                   <a href="#" th:text="${order.name}"></a>
	                              </td>
	                              <td class="product-price">
	                                   <span th:text="${#numbers.formatDecimal(order.price,0,'POINT',0,'COMMA')+' đ'}"></span>
	                              </td>
	                              <td class="product-quantity">
	                                   <div class="quantity sh-increase-numbers row justify-content-center">
	                                        <span class="sh-increase-numbers--down" th:attr="onclick=|descreaseQuantity('${order.id}', '${'ajax-quantity' + order.id}', '${'total-price' + order.id}')|"> 
	                                        	<i class="fas fa-arrow-down"></i>
	                                        </span> 
	                                        
	                                            <input type="text" th:data-price="${order.price}" th:value = "${order.quantity}" th:id="'ajax-quantity' + ${order.id}" class="sh-quantity-number" step="1" min="0" max="">
	                                        
	                                        <span class="sh-increase-numbers--up" th:attr="onclick=|increaseQuantity('${order.id}', '${'ajax-quantity' + order.id}', '${'total-price' + order.id}')|">
	                                            <i class="fas fa-arrow-up"></i>
	                                        </span>
	                                   </div>
	                              </td>
	                              <td class="product-total">
	                                   <span th:text="${#numbers.formatDecimal(order.price * order.quantity,0,'POINT',0,'COMMA')+' đ'}" th:id="${'total-price' + order.id}">$15.99</span>
	                              </td>
	                              <td class="product-remove">
	                              	<a th:href="@{'/my-cart/delete?productId=' + ${order.id}}" class="text-danger product-remove" onclick="return deleteCart()">
										<i class="fa fa-trash"></i>
									</a>
	                              </td>
	                         </tr>
	                    </tbody>
	               </table>
	          </div>

          <div class="cart-collaterals">
               <div class="cart_totals ">
                    <h2>Cart totals</h2>
                    <table cellspacing="0" class="shop_table shop_table_responsive">
                         <tbody>
                              <tr class="cart-subtotal">
                                   <th>Subtotal</th>
                                   <td data-title="Subtotal">
                                   <span class="woocommerce-Price-amount amount" th:text="${#numbers.formatDecimal(#aggregates.sum(orders.![price * quantity]) , 0,'POINT',0,'COMMA')+' đ'}"  th:id="subtotal">$15.99</span>
                                   </td>
                              </tr>
                              <tr class="order-total">
                                   <th>Total</th>
                                   <td data-title="Total">
                                   <strong>
                                   <span class="woocommerce-Price-amount amount" th:text="${#numbers.formatDecimal(#aggregates.sum(orders.![price * quantity]) , 0,'POINT',0,'COMMA')+' đ'}"  th:id="total-list">$15.99</span>
                                   </strong>
                                   </td>
                              </tr>
                         </tbody>
                    </table>
                    <div class="wc-proceed-to-checkout">
                         <a href="/my-cart/checkout-processing" class="checkout-button button alt wc-forward">Checkout</a>
                    </div>
               </div>
          </div>
          </th:block>
     </div>
</div>
<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
</script>
<script 
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
</script>

</body>
</html>