<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
	<link rel="stylesheet" href="css/login-ver2.css" />
	
	<!-- Icon -->
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Sign up</title>
</head>

<body>
	<div class="limiter">
          <div class="container-login d-flex justify-content-center align-items-center" 
               style="background-image: url('asset/J2EE/bg-01.png'); width: 100%">
               <div class="login-form px-55 pt-65 pb-55" style="padding: 65px 55px 55px 55px;">
                    <form class="w-100" action="#" th:action="@{/signup}" th:object="${user}" method="post">
                    	
                         <span class="pb-49 login-form-title text-center font-weight-bold" style="padding-bottom: 49px">Sign In</span>
                         
                         <div class="login-form-input mb-23"  data-validate="Name is required" style="margin-bottom: 23px">
                              <span class="label-input">Full Name</span>
                              <input type="text" class="input-item" placeholder="Type your full name" th:field="*{name}" th:errorclass="field-error"/>
                              <em th:if="${#fields.hasErrors('name')}" th:errores="*{name}"></em>
							  <i class="far fa-user-circle" style="position: absolute; top: 44px; left: 15px; font-size: 20px;"></i>  
                         </div>
                         
                         <div class="login-form-input mb-23" style="margin-bottom: 23px">
                              <span class="label-input">Address</span>
                              <input type="text" class="input-item" placeholder="Type your address" th:field="*{address}" th:errorclass="field-error"/>
                              <em th:if="${#fields.hasErrors('address')}" th:errores="*{address}"></em>
                              <i class="material-icons" style="position: absolute; top: 44px; left: 15px; font-size: 20px">lock_outline</i>
                         </div>
                         
                         <div class="login-form-input mb-23"  data-validate="Name is required" style="margin-bottom: 23px">
                              <span class="label-input">Password</span>
                              <input type="password" class="input-item" placeholder="Type your password" th:field="*{password}" th:errorclass="field-error"/>
                              <em th:if="${#fields.hasErrors('password')}" th:errores="*{password}"></em>
							  <i class="material-icons" style="position: absolute; top: 44px; left: 15px; font-size: 20px;"></i>  
                         </div>

                         <div class=" justify-content-center">
                              <div class="login-form-btn">
                                   <!-- <div class="login-form-btn-animated"></div> -->
                                   <button>Sign up</button>
                              </div>
                         </div>
                         
                         <div class="d-flex column text-center pt-155" style="padding-top: 155px; flex-direction: column">
                              <span class="txt1 pb-15" style="padding-bottom: 15px;">
                                   Already have an account ?
                              </span>
                              <a href="#">LOGIN</a>
                         </div>
                    </form>
               </div>

          </div>
     </div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/vue/vue.js"></script>
	<script src="js/vue/component.js"></script>
	<script src="js/data.js"></script>
	<script src="js/wow.min.js"></script>
</body>

</html>