<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <link integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
     <link integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
     <link rel="stylesheet" href="/css/header.css" />
     <link rel="stylesheet" href="/css/food-list.css" />
     <link rel="stylesheet" href="/css/checkout.css" />
     <script src="/js/food-list.js"></script>
     <title>Hello, world!</title>
</head>

<body>
     <nav th:replace="layout :: header"></nav>

     <div class="payment-success">
          <div class="container">
               <div class="payment-success__content justify-content-center text-center py-5">
                         <div class="content__image">
                              <img src="/images/credit-card.png" alt="">
                         </div>
                         <div class="content__image">
                              <h2 style="color: #0092e2; font-weight: bolder ">
                                   Thanh toán thành công
                              </h2>
                              <span style="font-size: 15px">
                                   Cảm ơn bạn đã thực hiện thanh toán. Đơn hàng của bạn sẽ giao trong thời gian ngắn nhất !
                              </span>
                              <br>
                              <form action="#" th:action="@{/home}" method="get" >
                              <button style="margin-top: 30px;
                                   margin-bottom: 3rem;
                                   background-color: #0092e2;
                                   color: #fff;
                                   width: 200px;
                                   height: 50px;
                                   border: none;
                                   border-radius: 30px;">
                                   Quay về trang chủ
                              </button>
                              </form>
                         </div>
               </div>
          </div>
     </div>

     <!-- Optional JavaScript -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
          integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
     </script>
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->


     <!-- 	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous">
		
	</script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous">
		
	</script> -->

     <script src="js/popper.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/vue/vue.js"></script>
     <script src="js/vue/component.js"></script>
     <script src="js/data.js"></script>
     <script src="js/wow.min.js"></script>

     <nav th:replace="layout :: footer"></nav>

</body>

</html>